/* --- IMAGE ---------------------------------------------------------- */
/* ADJECT IMAGE SIZE */
main{
    width: 1200px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}
.img-box{
    width: 45%;
    left: 15px;
}
.img-slide{
    width: 100%;
    padding-top: 75%;
    display: none;
}
.img-slide > .attraction-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;

    position: absolute;
    top: 0;
}
.img-background-blur{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter:blur(70px);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.img-loading-percent{
    /* content: attr(data-text); */
    color: var(--white);
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 600;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* IMAGE - ARROW */
.arrow{
    width: 100%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 45%;
}
.arrow__icon{ 
    opacity: 0.7;
    cursor: pointer;
}
.arrow__icon:hover{ opacity:1;}

/* IMAGE DOT_GROUP */
.dot-group{
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0.7;

    position: absolute;
    bottom: 13px;
}
.dot{
    width: 12px;
    height: 12px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 6px;
    cursor: pointer;
    transition: background-color 0.6s;
}
.active, .dot:hover{
    background-color: #000;
}
.fadeOut{
    animation: fadeOut 3s ease;
}

@keyframes fadeOut{
    from { opacity: 1}
    to { opacity: 0;}
}

/* --- BOOKING FORM ------------------------------------------------------*/
/* NAME , MRT AND CATEGORY AREA*/
.info-box{
    width: 50%;
    right: 15px;
    color: #666666;
}
.info-box__headline{
    display: inline;
    height: 33px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.info-box > p{
    margin: 15px 0;
}

/* BOOKING AREA */
.booking-form{
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 15px 20px;
}
.booking-form__title{
    height: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
}
.booking-form p,.booking-form span{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}
input[type="date"]{
    width: 193px;
    height: 35px;
    padding: 6px 10px;
    border: 0px;
}
::-webkit-calendar-picker-indicator{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.booking-form__error-message{
    font-size: 13px;
    color: red;
}
.booking-form__opt{
    font-weight: 700;
    margin-bottom: 15px;
}
.time{
    display: flex;
    align-items: center;
}
.time__label{
    display: flex;
    cursor: pointer;
}
input[type="radio"]{
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ffff;
    margin: 0 4px 0 7px;
}
input[type="radio"]::after{
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: none;
    background: #448899;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input[type="radio"]:checked::after{
    display: block;
}
.time__label p{
    margin: 0;
    line-height: 20px;
}
#change_money{ margin-left: 7px;}
.booking-form__button{
    width: 154px;
    height: 36px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #448899;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    color: #ffff;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
}
.booking-form__button:hover{
    transform: scale(1.01);
    box-shadow: 1px 2px 5px 1px #AAAAAA;
}
.booking-form__button:active{
    transform: scale(1) translate(1px,1px);
}


/* --- ATTRACTION INFORMATION AREA --------------------------------------*/
.section{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 10px;
    color:#666666;
    font-size: 16px;
}
.section__headline{
    height: 32px;
    line-height: 32px;
    font-weight: 700;
    margin-top: 20px;
}
.section__content{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2px;
}
.section__map{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 100px;
}

/* --- RWD SETTING ------------------------------------------------------*/
/* LAYOUT BELOW 1280px */
@media (max-width: 1280px){
    main{ width: 90%;}
    .img-slide{ padding-top: 405px;}
    .info-box{ width: 48%;}
    .section{ width: 90%;}
}

/* LAYOUT BELOW 768px */
@media (max-width:768px){
    main{
        width: 100%;
        display: block;
        margin: 0 0 40px 0;
    }
    .img-box{
        width: 100%;
        left: 0;
    }
    .img-slide{ padding-top: 350px;}
    .dot-group{ bottom: 10px;}
    .info-box{
        width: 100%;
        right: 0;
        padding: 20px 10px 0 10px;
    }
    .section{
        width: 100%;
        padding: 0 20px;
    }
    .section__map{ margin-bottom: 160px;}
}

@media (max-width: 480px){
    .section__map{ height: 300px;}
}