/* --- IMAGE ---------------------------------------------------------- */
/* ADJECT IMAGE SIZE */
main{
    width: 1200px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}
.img_box{
    width: 45%;
    left: 15px;
}
.img_slide{
    width: 100%;
    padding-top: 75%;
    display: none;
}
.img_slide > .attraction_img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;

    position: absolute;
    top: 0;
}

/* IMAGE - ARROW */
.img_box > .arrow{
    width: 100%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 45%;
}
.arrow img{ 
    opacity: 0.7;
    cursor: pointer;
}
.arrow img:hover{ opacity:1;}

/* IMAGE DOT_GROUP */
.dot_group{
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0.7;

    position: absolute;
    bottom: 13px;
}
.dot{
    width: 12px;
    height: 12px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 6px;
    cursor: pointer;
    transition: background-color 0.6s;
}
.active, .dot:hover{
    background-color: #000;
}
.fade{
    animation: fade 2s ease;
}

@keyframes fade{
from {opacity: 0.5}
to {opacity: 1}
}

/* --- BOOKING FORM ------------------------------------------------------*/
/* NAME , MRT AND CATEGORY AREA*/
.info_box{
    width: 50%;
    right: 15px;
    color: #666666;
}
.info_box > h1{
    height: 33px;
    margin: 0 0 15px 0;
    font-weight: 700;
    font-size: 24px;
}
.info_box > p{
    height: 22px;
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 16px;
}

/* BOOKING AREA */
.booking_form{
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 15px 20px;
}
.booking_form > div{
    height: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
}
.booking_form p, span{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}
input[type="date"]{
    width: 193px;
    height: 35px;
    padding: 6px 10px;
    border: 0px;
}
::-webkit-calendar-picker-indicator{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.error_message{
    font-size: 13px;
    color: red;
}
.time{
    display: flex;
    align-items: center;
}
.time label{
    display: flex;
    cursor: pointer;
}
.time label input[type="radio"]{
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ffff;
    margin: 0 4px 0 7px;
}
.time label input[type="radio"]::after{
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: none;
    background: #448899;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.time label input[type="radio"]:checked::after{
    display: block;
}
.time label p{
    margin: 0;
    line-height: 20px;
}
#change_money{ margin-left: 7px;}
.booking_form > button{
    width: 154px;
    height: 36px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #448899;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    color: #ffff;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
}
.booking_form > button:hover{
    transform: scale(1.01);
    box-shadow: 1px 2px 5px 1px #AAAAAA;
}
.booking_form > button:active{
    transform: scale(1) translate(1px,1px);
}


/* --- ATTRACTION INFORMATION AREA --------------------------------------*/
section{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 10px;
    color:#666666;
    font-size: 16px;
}
.headline{
    height: 32px;
    line-height: 32px;
    font-weight: 700;
    margin-top: 20px;
}
.content{
    font-weight: 400;
    line-height: 24px;
}

/* --- RWD SETTING ------------------------------------------------------*/
/* LAYOUT BELOW 1280px */
@media (max-width: 1280px){
    main{ width: 90%;}
    .img_slide{ padding-top: 405px;}
    .info_box{ width: 48%;}
    section{ width: 90%;}
}

/* LAYOUT BELOW 768px */
@media (max-width:768px){
    main{
        width: 100%;
        display: block;
        margin: 0 0 40px 0;
    }
    .img_box{
        width: 100%;
        left: 0;
    }
    .img_slide{ padding-top: 350px;}
    .dot_group{ bottom: 10px;}
    .info_box{
        width: 100%;
        right: 0;
        padding: 20px 10px 0 10px;
    }
    section{
        width: 100%;
        padding: 0 20px;
    }
}