*{
    position: relative;
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
}
html,body{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #666666;
}
.wrapper{ width: 100%;}

/* === NAVBAR ==========================================*/
header{
    width: 100%;
    height: 54px;
    background-color:#ffff;
    box-shadow: 0px 3px 10px #757575 ;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 2;
}
nav{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    display: block;
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    color: #448899;
}
.menu{
    height: 14px;
    font-size: 16px;
    line-height: 13px;
    font-weight: 500;
    color: #666666;
    display: flex;
    cursor: pointer;
}
.list_1{
    width: 64px;
    margin-right: 20px;
}
.list_2{width: 71px;}
.list_1:hover, .list_2:hover{
    transform: scale(1.05);
}



/* === SIGNIN / SIGNUP BOX =================================== */
.sign_in_box{
    width: 340px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(90deg,#66AABB,#337788) border-box;
    border-radius: 5px;
    border-top: 10px solid transparent;
    box-shadow: 0px 4px 60px #AAAAAA;;
    z-index: 4;

    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}
.sign_up_box{
    width: 340px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(90deg,#66AABB,#337788) border-box;
    border-radius: 5px;
    border-top: 10px solid transparent;
    box-shadow: 0px 4px 60px #AAAAAA;;
    z-index: 4;

    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}
.close_icon{
    position: absolute;
    right: 17px;
    top: 15px;
    cursor: pointer;

    transition: 0.1s;
}
.close_icon:hover{
    transform: scale(1.1);
}
.sign_in_box h1, .sign_up_box h1{
    width: 144px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
    margin: 0 auto 18px auto;
    top: 15px;
}
.sign_in_box label, .sign_up_box label{
    top: 15px;
    left: 15px;
}
.sign_in_box label input, .sign_up_box label input{
    width: 310px;
    height: 47px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    outline-color: #82c0cf;
    cursor: pointer;
    
    margin-bottom: 10px;
    padding: 15px;
}
.sign_in_box label button, .sign_up_box label button{
    width: 310px;
    height: 47px;
    color: #fff;
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;

    background-color: #448899;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.sign_in_box label button:hover, .sign_up_box label button:hover{
    transform: scale(1.01);
    box-shadow: 1px 2px 5px 1px #AAAAAA;
}
.sign_in_box label button:active, .sign_up_box label button:active{
    transform: scale(1) translate(1px,1px);
}
.sign_in_box div, .sign_up_box div{
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    margin: 18px 0 20px 0;
    text-align: center;
}
.sign_in_box div button, .sign_up_box div button{
    border: none;
    margin: 0;
    padding: 0;
    color: #448899;
    background-color: transparent;
    cursor: pointer;
}
.sign_in_box div button:hover, .sign_up_box div button:hover{
    text-decoration: underline;
}
/* .inEmailError, .inPasswordError, .upNameError, .upEmailError, .upPasswordError{ */
.sign_in_message, .sign_up_message{
    display: block;
    width: 100%;
    height: 10px;
    font-size: 15px;
    color: red;

    top: -7px;
    left: 9px;
    margin-bottom: 4px;
}
.whole{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 3;

    position: absolute;
    top: 0;
    left: 0;
}

/* === TOP BUTTON ==========================================*/
.top_button{
    display: none;
    transform: scale(2);
    border-radius: 50%;
    border: 1px solid #448899;
    color: #448899;
    background-color: #fff;
    
    z-index: 2;
    position: fixed;
    bottom: 15%;
    right: 2%;
}
.top_button:hover{
    color: #fff;
    background-color: #448899;
    opacity: 1;
}

/* === FOOTER ========================================== */
footer{
    width: 100%;
    height: 104px;
    background-color: #757575;
    display: flex;
}
footer > p{
    margin: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 13px;
    color: #ffff;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* === RWD ============================================= */
@media (max-width: 1280px){
    nav{ padding: 10px 20px;}
    .top_button{
        transform: scale(1.8);
        opacity: 0.7;
    }
}
@media (max-width: 768px){
    nav{ padding: 10px;}
    .top_button{
        transform: scale(1.5);
        bottom: 10%;
    }
}
@media (max-width: 480px){
    .top_button{
        opacity: 0.5;
        bottom: 5%;
    }
    .sign_in_box, .sign_up_box{width: 335px;}
}