@import url("color.css");
*{
    position: relative;
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
}
html,body{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--secondary);
}
hr{
    width: 1200px;
    margin: 40px auto;
}
input:-webkit-autofill { 
    -webkit-box-shadow:0 0 0px 1000px white inset;
}
.wrapper{ 
    width: 100%;
    min-height: 100vh;

    margin-bottom: -104px;         /* 配合 footer 高度 */
}

/* === NAVBAR ==========================================*/
header{
    width: 100%;
    height: 54px;
    background-color: var(--white);
    border-bottom: 1px solid var(--secondary-light);
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 999999;
}
nav{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__title{
    display: block;
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    color: var(--primary);
}
.nav__menu{
    height: 54px;
    align-items: center;
    font-size: 16px;
    line-height: 13px;
    font-weight: 500;
    color: var(--secondary);
    display: flex;
    cursor: pointer;
}
.menu__item{
    padding: 21px 10px;
}
.menu__item:hover{
    color: var(--white);
    background-color:var(--primary-light);
}
.nav__bars-container{
    display: none;
    cursor: pointer;
}
.bars{
    font-size: 22px;
    color: var(--primary);
    margin: 5px;
}


/* === SIGNIN / SIGNUP BOX =================================== */
.sign-container{
    width: 340px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(90deg,var(--primary-light),var(--primary-dark)) border-box;
    border-radius: 5px;
    border-top: 10px solid transparent;
    box-shadow: 0px 4px 60px #AAAAAA;;
    z-index: 4;

    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}
.sign__close-icon{
    position: absolute;
    right: 17px;
    top: 15px;
    cursor: pointer;

    transition: 0.1s;
}
.sign__close_icon:hover{
    transform: scale(1.1);
}
.sign__title{
    width: 144px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--secondary);
    margin: 0 auto 18px auto;
    top: 15px;
    cursor: default;
    text-align: center;
}
.sign__box{
    top: 15px;
    text-align: center;
}
.input-group__input{
    width: 310px;
    height: 47px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    cursor: text;
    
    margin-bottom: 10px;
    padding: 15px;
    padding-left: 43px;
}
.input-group__input:hover{
    border: 2px solid #8f8f8f;
}
.input-group__image{              /* fontawesome 圖片視為字體 */
    color: var(--secondary-dark);
    font-size: 21px;
    
    position: absolute;
    top: 14px;
    left: 27px;
    z-index: 5;
}
.input-group__password-eye{
    color: var(--secondary-dark);
    font-size: 17px;
    cursor: pointer;
    
    position: absolute;
    top: 15px;
    right: 27px;
    z-index: 5;
}
.input-group__error-message{
    display: block;
    width: 100%;
    height: 10px;
    font-size: 15px;
    color: var(--error);
    text-align: left;

    top: -7px;
    left: 30px;
    margin-bottom: 4px;
}
.sign__button{
    width: 310px;
    height: 47px;
    color: var(--white);
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;

    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.sign__button:hover{
    background-color: var(--primary-dark);
}
.sign__switch{
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary);
    margin: 18px 0 20px 0;
    text-align: center;
    cursor: default;
}
.sign__switch__button{
    border: none;
    margin: 0;
    padding: 0;
    color: var(--primary);
    background-color: transparent;
    cursor: pointer;
}
.sign__switch__button:hover{
    text-decoration: underline;
}
.black-screen{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 3;

    position: absolute;
    top: 0;
    left: 0;
}
/* 登入/註冊成功 */
.sign-success{
    width: 280px;
}
.sign-success__icon{
    font-size: 50px;
    color: var(--primary);
    margin-bottom: 20px;

    top: 20px;
    left: 50%;
    transform: translate(-50%);
}
.sign-success__title{
    font-size: 22px;
    padding-bottom: 15px;
}
.sign-success__content{
    font-size: 16px;
    color: var(--primary-light);
    text-decoration-line: underline;
    text-underline-offset: 0.2em;
    font-weight: lighter;
    margin-bottom: 20px;
    text-align: center;
}
.sign-success__button{
    background-color: var(--white);
    border: none;
    cursor: pointer;
    
    left: 50%;
    transform: translate(-50%);
}


/* === TOP BUTTON ==========================================*/
.top-button{
    width: 25px;
    height: 25px;
    display: none;
    transform: scale(2);
    border-radius: 50%;
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: var(--white);
    
    z-index: 2;
    position: fixed;
    bottom: 15%;
    right: 2%;
}
.top-button i{
    right: 1.2px;
    bottom: 0.8px;
}
.top-button:hover{
    color: var(--white);
    background-color: var(--primary);
    opacity: 1;
}

/* === FOOTER ========================================== */
footer{
    width: 100%;
    height: 104px;
    background-color: var(--secondary-dark);
    display: flex;
}
footer > p{
    margin: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 13px;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* === RWD ============================================= */
@media (max-width: 1280px){
    nav{ padding: 10px 20px;}
    hr{ width: 95%;}
    .top-button{
        transform: scale(1.8);
        opacity: 0.7;
    }
}

@media (max-width: 768px){
    nav{ padding: 10px;}
    .top-button{
        transform: scale(1.5);
        bottom: 10%;
    }
}

@media (max-width: 480px){
    .top-button{
        opacity: 0.5;
        bottom: 5%;
    }
    .sign-container{ width: 335px;}
    .sign-success{ width: 280px;}

    /* 開合選單設定 */
    .nav__menu{
        width: 100%;
        text-align: center;
        display: block;

        position: absolute;
        top: 54px;
        left: 0;
        
        height: 0;
        overflow: hidden;
        transition: height 0.2s ease-out;
    }
    .menu__item{
        color: var(--white);
        border-bottom: 1px solid var(--secondary-light);
        background-color: var(--primary-light);
        opacity: 0.9;
    }
    .menu__item:hover{
        background-color: var(--primary);
        opacity: 1;
    }
    .nav__bars-container{ display: block;}
}