/* --- SEARCH AREA ------------------------------ */
.search_container{
    display: flex;
    justify-content: center;
}
.back_img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.search_box{
    width: 1200px;
    height: 169px;
    padding: 10px;

    position: absolute;
    top: 75px;
}
.search_box h1{
    width: 1180px;
    height: 41px;

    font-size: 28px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0;
    color:#F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
}
.search_box p{
    width: 1180px;
    height: 22px;

    font-size: 16px;
    line-height: 13px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 0;
    color:#F8F8F8;
}
.search_bar input{
    width: 400px;
    height: 46px;
    border: none;
    padding: 15px;
    border-radius: 7px 0 0 7px;
}
.search_bar input::placeholder{
    color: #757575;
}
.search_icon{
    width: 60px;
    height: 46px;
    background-color: #448899;
    padding: 8px 15px;
    border:none;
    border-radius: 0 7px 7px 0;
    cursor: pointer;

    position: absolute;
    top:0;
    left: 400px;
}
.search_icon:hover{ background-color: #397685;}

/* --- CATEGORY ------------------------- */
.category_box{
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #AABBCC;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1;

    display: none;        /* 先隱藏 */
    grid-template-columns: repeat(3, 120px);
}
.category_box .category{
    padding: 10px 15px;
    font-size: 14px;
    line-height: 20px;
}
.category_box .category:hover{
    border-radius: 5px;
    background-color: #E8E8E8;
}

/* --- ATTRACTION INFORMATION ----------------------- */
main{
    width: 1200px;
    margin: 40px auto;
    padding: 15px;

    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 30px;
}
#attraction{
    border: 2px solid #e3e3e3;
    border-radius: 3%;
    cursor: pointer;
}
#img_box{
    width: 100%;
    padding-top: 73.5%;
    position: relative;
    overflow: hidden;
}
#attraction #img_box img{
    display: block;
    grid-column: span 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    object-fit: cover;
    object-position: center center;
    border-radius: 3% 3% 0 0;

    transition: 0.1s;
}
#attraction:hover img{ transform: scale(1.2);}
#attraction #img_box #name{
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    /* 文字省略符號... */

    position: absolute;
    bottom: 0;
}
#attraction #info_box{
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    color: #757575;

    display: flex;
    justify-content:space-between;
}

/* --- RWD SETTING ------------------------------------ */
/* LAYOUT - BELOW 1280px   */
@media (max-width: 1280px){
    .search_container{
        overflow-x: clip;
        overflow-y: visible;    
    }
    .search_box{ width:95%;}
    main{
        width: 90%;
        grid-template-columns:repeat(3, 1fr);
        gap: 20px;
    }
}

/* LAYOUT - BELOW 768px   */
@media (max-width: 768px){
    main{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}

/* LAYOUT - BELOW 480px  */
@media (max-width: 480px){
    .search_bar input{ width: 75%;}
    .search_icon{ left: 75%;}
    .category_box{
        width: 100%;
        grid-template-columns: repeat(3, 30%);
    }
    main{
        width: 100%;
        margin: 35px auto;
        padding: 20px;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    #img_box{ padding-top: 78%;}
}