@import url(color.css);
/* --- SEARCH AREA ------------------------------ */
.search-container{
    display: flex;
    justify-content: center;
}
.banner{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.search-box{
    width: 1200px;
    height: 169px;
    padding: 10px;

    position: absolute;
    top: 75px;
}
.seach-box__title{
    width: 1180px;
    height: 41px;

    font-size: 28px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0;
    color:#F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
}
.seach-box__subtitle{
    width: 1180px;
    height: 22px;

    font-size: 16px;
    line-height: 13px;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 0;
    color:#F8F8F8;
}
.search-box__input{
    width: 400px;
    height: 46px;
    border: none;
    padding: 15px;
    border-radius: 7px 0 0 7px;
}
.search-box__input::placeholder{
    color: var(--secondary-dark);
}
.search-box__icon{
    width: 60px;
    height: 46px;
    background-color: var(--primary);
    padding: 8px 15px;
    border:none;
    border-radius: 0 7px 7px 0;
    cursor: pointer;

    position: absolute;
    top:0;
    left: 400px;
}
.search-box__icon:hover{ background-color: var(--primary-dark);}

/* --- CATEGORY ------------------------- */
.category-box{
    width: 400px;
    background-color: var(--white);
    box-shadow: 0px 0px 20px #AABBCC;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1;

    display: none;        /* 先隱藏 */
    grid-template-columns: repeat(3, 120px);
}
.category-box .category{
    padding: 10px 15px;
    font-size: 14px;
    line-height: 20px;
}
.category-box .category:hover{
    border-radius: 5px;
    background-color: var(--secondary-light);
}

/* --- ATTRACTION INFORMATION ----------------------- */
.main-container{ padding-bottom: 104px;}
.main{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 30px;
}
.main-size{
    width: 1200px;
    margin: 40px auto;
    padding: 15px;
}
.attraction{
    border: 2px solid #e3e3e3;
    border-radius: 3%;
    cursor: pointer;
}
.attraction__img-box{
    width: 100%;
    padding-top: 73.5%;
    position: relative;
    border-radius: 3% 3% 0 0;
    overflow: hidden;
}
.attraction__img-box img{
    display: block;
    grid-column: span 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;

    position: absolute;
    top: 0;

    transition: 0.3s;
}
.attraction:hover img{transform: scale(1.2);}
.attraction:hover{ box-shadow: 0 5px 10px var(--secondary-dark);}
.attraction__img-box .name{
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white);
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    /* 文字省略符號... */

    position: absolute;
    bottom: 0;
}
.attraction__info-box{
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    color: var(--secondary-dark);

    display: flex;
    justify-content:space-between;
}

/* NO SEARCH */
.no-search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}
.no-search__content{
    width: 100%;
    font-size: 20px;
    color: var(--secondary);
    text-align: center;
    margin-top: 10px;
}

/* LOADING */
.loader-container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.loader {
    position: relative;
    margin: 0 auto;
    width: 85px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--primary-light) 75px, transparent 0),
                      linear-gradient(var(--primary-light) 75px, transparent 0),
                      linear-gradient(var(--primary-light) 75px, transparent 0),
                      linear-gradient(var(--primary-light) 75px, transparent 0),
                      linear-gradient(var(--primary-light) 75px, transparent 0),
                      linear-gradient(var(--primary-light) 75px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
    animation: rikSpikeRoll 1.2s linear infinite alternate;
}

@keyframes rikSpikeRoll {
  0% { background-size: 10px 3px;}
  16% { background-size: 10px 75px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  33% { background-size: 10px 30px, 10px 75px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  50% { background-size: 10px 10px, 10px 30px, 10px 75px, 10px 3px, 10px 3px, 10px 3px}
  66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 75px, 10px 3px, 10px 3px}
  83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 75px, 10px 3px}
  100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 75px}
}
    

/* --- RWD SETTING ------------------------------------ */
/* LAYOUT - BELOW 1280px   */
@media (max-width: 1280px){
    .search-container{
        overflow-x: clip;
        overflow-y: visible;    
    }
    .search-box{ width:95%;}
    .main{
        grid-template-columns:repeat(3, 1fr);
        gap: 20px;
    }
    .main-size{ width: 90%;}
}

/* LAYOUT - BELOW 768px   */
@media (max-width: 768px){
    .main{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .search-box__input{ width: 370px;}
    .search-box__icon{ left: 370px}
}

/* LAYOUT - BELOW 480px  */
@media (max-width: 480px){
    .search-box__input{ width: 75%;}
    .search-box__icon{ left: 75%;}
    .category-box{
        width: 100%;
        grid-template-columns: repeat(3, 30%);
    }
    .main{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .main-size{
        width: 100%;
        margin: 35px auto;
        padding: 20px;
        padding-bottom: 35px;
    }
    .attraction__img-box{ padding-top: 78%;}
}