@import url(color.css);

.main{
    width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/* --- ASIDE ------------------------------------------------ */
.aside{
    width: 265px;
    height: 300px;
    border: 2px solid #67b9cd;
    justify-content: space-around;
    background-color: var(--white);
    border-radius: 8px;
    padding-bottom: 10px;
}

/* user-box */
.aside__user-box{
    background-color: #5aa2b4;
    padding: 25px 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.aside__user-box__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1.5px solid var(--white);
    margin-right: 10px;
}
.aside__user-box__name{
    color: var(--white);
    font-size: 22px;
}

/* box */
.aside__box{
    padding: 10px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.aside__box:hover .aside__box__content{
    color: var(--primary-light)
}
.aside__box__icon{
    width: 22px;
    font-size: 22px;
    color: var(--secondary);
}
.order-record__icon{ padding-right: 5.5px;}
.aside__box__content{
    width: 100%;
    color: var(--secondary);
    margin-left: 10px;
    font-size: 18px;
}
.select-option{     /* 會員初始畫面設定--變更資料欄 */
    color: #66AABB;
}
.account-info{
    font-size: 18px;
    color: var(--secondary);
    left: 20%;
    cursor: pointer;
}
.account-info:hover{
    color: var(--primary-light);
}


/* --- ARTICLE ------------------------------------------------ */
.article{
    width: 860px;
    background-color: var(--secondary-light);
    border-radius: 10px;
    padding: 20px 30px;
}
.article__title{
    margin-left: 10px;
    font-size: 25px;
}
.article__subtitle{
    margin-left: 10px;
    font-size: 14px;
}
.article__hr{
    width: 100%;
    margin: 5px 0;
}

/* --- USERNAME CHANGE BOX ------------------------------------------- */
.change__username-button{
    margin: 0;
    margin-left: 10px;
    padding: 0;
    border: 0;
    cursor: pointer;
    color: var(--primary);
    text-decoration: underline;
    background-color: transparent;
}
.change__username-box{
    display: none;
    width: 280px;
    padding: 35px 22px 25px 20px;
    box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: var(--white);
    
    position: absolute;
    z-index: 1;
}
.change__headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.change__input{
    width: 180px;
    height: 35px;
    padding: 10px 13px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d6d6d6;
    outline: 0;
}
.change__message{
    color: var(--secondary-dark);
    font-size: 14px;
    margin-bottom: 10px;
    left: 65px;
}
.change__button-box{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.change__button{
    cursor: pointer;
    border: 0;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--white);
}
.change__button-confirm{ background-color: var(--primary);}
.change__button-confirm:hover{ background-color: var(--primary-light);}
.change__button-cancel{ background-color: var(--secondary);}
.change__button-cancel:hover{ background-color: #a7a7a7;}
.change__success-box{
    width: 240px;
    padding: 20px;
    font-size: 18px;
    align-items: center;
    text-align: center;
}
.change__success-icon{
    font-size: 22px;
    color: var(--primary);
    margin-right: 10px;
}
.change__success-text{
    line-height: 25px;
}

/* --- member ------------------------------------------------ */
.member__container{ padding: 20px 35px;}
.member__box{ display: flex;}
.member__content{
    padding: 20px 0;
    color: var(--secondary-dark);
}
.member__headline{
    width: 20%;
    text-align: right;
}
.member__text, .member__password__box{
    margin-left: 40px;
    color: black;
    letter-spacing: 1.5px;
    font-weight: bolder;
}
.member__input{ height: 38px;}
.password__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.member__password{
    width: 300px;
    height: 38px;
    margin: 10px 0px 10px 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-light);
    cursor: text;
}
.member__password:focus{ outline: #000 solid 1.5px;}
.member__password__message{
    width: 300px;
    color: var(--error);
    font-weight: 500;
    left: 100px;
}

/* member ─ PASSWORD_CHANGE CONFIRM BUTTON */
.button__box{
    width: 95%;
    padding-top: 20px;
    display: flex;
    justify-content: end;
}
.member__button{
    background-color: var(--primary);
    cursor: pointer;
    padding: 15px;
    color: var(--white);
    font-weight: lighter;
    letter-spacing: 2px;
    border: 0px;
    border-radius: 5px;
}
.member__button:hover{
    transform: scale(1.01);
    box-shadow: 1px 2px 5px 1px #999999;
}
.member__button:active{
    transform: scale(1) translate(1px,1px);
}

/* --- ORDER RECORD ----------------------------------------------- */
.order__container{
    padding: 13px 10px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 20px;
    text-align: center;
}
.order__box{
    cursor: pointer;
}
.order__number{
    font-size: 17px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 7px;
}
.order__number > span , .order__date{
    color: #000;
    font-weight: 500;
}
.order__img-box{
    width: 80%;
    margin: 0 auto;
}
.order__img{
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 7px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.order__name{
    width: 100%;
    padding: 7px;
    background-color: rgba( 0, 0, 0, 0.7);
    border-radius: 0 0 7px 7px;
    color: var(--white);

    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
}

/* 無訂單 */
.no_order__box{
    width: 100%;
    padding: 50px;
    text-align: center;
}
.no_order__img{
    width: 80px;
    height: 80px;
}
.no_order__text{
    color: var(--secondary);
    margin-top: 10px;
}

/* 訂單詳細資料 */
.list__container{
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 0 12px 7px var(--secondary-dark);
    background-color: var(--white);
    padding: 15px;
    padding-left: 10px;

    z-index: 1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}
.list__title{
    font-size: 18px;
    padding-left: 10px;
}
.list__close-icon{
    cursor: pointer;

    position: absolute;
    right: 15px;
    top: 15px;
}
.list__box{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list__img{
    width: 38%;
    height: 165px;
    border-radius: 5px;
}
.list__content-box{ width: 55%;}
.list__content-innerBox{
    width: 100%;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}
.list__content-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.list__headline{
    width: 25%;
    font-size: 15px;
    color: var(--secondary-dark);
    text-align: right;
}
.list__content{
    width: 73%;
    color: #000;
}
.list__button{
    width: 90%;
    background-color: var(--primary);
    color: var(--white);
    padding: 10px;
    margin-bottom: 7px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;

    left: 50%;
    transform: translate(-50%);
}


/* --- RWD --------------------------------------------------- */
@media (max-width: 1280px){
    .main{ width: 100%;}
    .aside{ width: 22%;}
    .article{ width: 70%;}
}

@media (max-width: 1024px){
    .order__container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px 10px;
    }
    .member__container{ padding: 20px 10px;}
    .member__password{
        width: 260px;
        margin-left: 10px;
    }
    .member__button-box{ width: 100%;}
    .member__password__message{
        width: 240px;
        left: 95px;
    }
    .list__box{ display: block;}
    .list__title{ margin: 0;}
    .list__content-title{
        text-align: center;
        margin: 10px auto;
    }
    .list__img{ 
        width: 90%;
        height: 200px;
        left: 50%;
        transform: translate(-50%);
    }
    .list__content-box{ width: 95%;}
}

@media (max-width: 768px){
    .main{
        width: 95%;
        margin: 10px auto;
        flex-wrap: wrap;
    }
    .aside{ width: 100%;}
    .article{
        width: 100%;
        padding: 20px 15px;
    }
    .order__container{
        padding: 0 5px;
        grid-gap: 30px;
    }
    .member__password__message{
        width: 240px;
        left: 25%;
    }
}

@media (max-width: 480px){
    .order__container{ grid-template-columns: repeat(1, 1fr);}
    .member__box{ display: block;}
    .member__content{ padding: 15px 0;}
    .member__headline{
        width: 100%;
        text-align: start;
        padding-left: 5px;
        font-size: 17px;

    }
    .member__text{ margin-left: 25px;}
    .member__password__box{
        letter-spacing: 0;
        margin-left: 25px;
    }
    .member__password{ width: 70%;}
    .member__password__message{
        width: 100%;
        left: 0;
        text-align: right;
    }
    .change__username-box{
        left: 50%;
        transform: translate(-55%);
    }
    .list__container{ width: 85%;}
    .list__title{ font-size: 16px;}
    .list__img{
        width: 100%;
        height: 150px;}
    .list__content-box{ margin: 0 auto;}
    .list__content-innerBox{
        display: block;
        width: 95%;
        margin: 0 auto;
    }
    .list__headline{
        width: 100%;
        text-align: start;
        padding-bottom: 8px;
    }
    .list__content{
        width: 100%;
        padding: 0 0 10px 20px;
    }
}