.booking-success__container{
    width: 1000px;
    margin: 50px auto;
}
.booking-success__box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking-success__icon{
    color: var(--primary);
    font-size: 50px;
    padding-right: 20px;
}
.booking-success__title{
    font-size: 35px;
    color: var(--secondary);
    font-weight: bolder;
}
.booking-success__content{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    color: var(--secondary);
}
.booking-success__content > span{
    font-weight: bolder;
    color: var(--primary-light);
}
.booking-fail__content{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    color: var(--secondary);
    margin: 30px;
}

footer{
    padding-top: 50px;
    padding-bottom: 50%;
}


@media (max-width: 1280px){
    .booking-success__container{ width: 95%;}
}
@media (max-width: 480px){
    .booking-success__icon{ font-size: 40px;}
    .booking-success__title{ font-size: 25px;}
    .booking-success__content{ font-size: 15px;}
}