{% extends "base.html" %}

<!-- HEAD -------------------------------------------------- -->
{% block head %}
<title></title>
<link rel="stylesheet" href="/css/attraction.css">
{% endblock %}

<!-- BODY -------------------------------------------------- -->
{% block body %}
<main>
    <div class="img_box">
        <div class="arrow">
            <img src="/image/btn_leftArrow.png" alt="">
            <img src="/image/btn_rightArrow.png" alt="">
        </div>
    </div>

    <div class="info_box">
        <div class="booking_form">
            <div>訂購導覽行程</div>
            <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
            <div style="margin-bottom: 30px;">選擇日期：
                <input type="date">
            </div>
            <div class="time">選擇時間：
                <label>
                    <input type="radio" name="choicetime" onclick="getElementById('change_money').innerHTML = '新台幣 2000 元'" checked>
                    <p>上半天</p>
                </label>
                <label>
                    <input type="radio" name="choicetime" onclick="getElementById('change_money').innerHTML = '新台幣 2500 元'">
                    <p>下半天</p>
                </label>
            </div>
            <div>導覽費用：<span id="change_money">新台幣 2000 元</span></div>
            <button>開始預約行程</button>
        </div>
    </div>
</main>

<hr>

<section>
    <div class="headline">景點地址：</div>
    <div class="headline">交通方式：</div>
</section>
{% endblock %}

{% block script %}
<script src="/js/attraction.js"></script>
{% endblock %}