{% extends "base.html" %}

<!-- HEAD -------------------------------------------------- -->
{% block head %}
<link rel="stylesheet" href="/css/booking.css">
<title>預約行程</title>
<!-- Cleave.js v1.1.1 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.1.0/cleave.min.js"></script>
{% endblock %}

<!-- BODY -------------------------------------------------- -->
{% block body %}
<!-- BOOK_HEADLINE -->
<main>
    <!-- END ITINERARY -->

    <hr>

    <!-- // CONTACT INFOMATION -->
    <div class="contact-container">
        <div class="contact__headline">您的聯絡資訊</div>
        
        <div class="contact__sync-box">
            <input
            type="checkbox"
            name="contactSync"
            id="contactSync" >
            <label for="contactSync" class="contact__sync-info">同會員資料</label>
        </div>

        <label class="contact__detail">聯絡姓名：
            <input required
             type="text"
             name="name"
             id="contactName">
        </label><br>

        <label class="contact__detail">連絡信箱：
            <input required
             type="email"
             inputmode="email"
             name="email"
             id="contactEmail">
        </label><br>
        
        <label class="contact__detail">手機號碼：
            <input required
             type="tel"
             inputmode="tel"
             name="phone"
             id="contactPhone">
        </label>

        <p class="contact__notice">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
    </div>
    <!-- END CONTACT INFOMATION -->

    <hr>

    <!-- // CREDIT CARD -->
    <div class="credit-container">
        <div class="credit__headline">信用卡付款資訊</div>

        
    </div>
    <!-- END CREDIT CARD -->

    <hr>
    <div class="confirm-container">
        <div class="confirm__price"></div>
        <button class="confirm__button">確認訂購並付款</button>
    </div>
</main>
{% endblock %}

{% block script %}
<script src="/js/booking.js"></script>
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
<script>
    TPDirect.setupSDK(
        126971,
        'app_bmhD4ubStRHqvzB6Q2RZ9xUJV3hXSwyLrgsMAhV234DQRhdqSwQKGfSc6nzR',
        'sandbox'
    )
</script>
{% endblock %}