{% extends "base.html" %}

<!-- HEAD -------------------------------------------------- -->
{% block head %}
<link rel="stylesheet" href="/css/index.css">
<title>Taipei Trip 台北一日遊</title>
{% endblock %}

<!-- BODY -------------------------------------------------- -->
{% block body%}
<div class="search_container">
    <img src="/image/welcome.png" class="back_img" alt="">
    <div class="search_box">
        <h1>輕鬆享受台北一日悠閒</h1>
        <p>探索每個角落，體驗城市的深度旅遊行程</p>
        <div class="search_bar">
            <input type="text" class="search_input" placeholder="輸入景點名稱查詢">
            <button class="search_icon">
                <img src="/image/icon_search.png" alt="">
            </button>
        </div>
        <div class="category_box"></div>
    </div>
</div>

<main></main>
{% endblock %}

{% block script %}
<script src="/js/index.js"></script>
{% endblock %}