<!DOCTYPE html>
<html lang="zh-Hans-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="wrapper">

        <div class="navbar">
            <div class="title">台北一日遊</div>
            <ul class="menu">
                <li class="list1">預定行程</li>
                <li class="list2">登入/註冊</li>
            </ul>
        </div>
        
        <div class="backImg"></div>
        <div class="searchbox">
            <h1>輕鬆享受台北一日悠閒</h1>
            <p>探索每個角落，體驗城市的深度旅遊行程</p>
            <div>
                <input type="text" placeholder="輸入景點名稱查詢">
                <div class="searchIcon"><img src="../static/image/icon_search.png" alt=""></div>
            </div>
        </div>

        <div class="attractionContainer">

        </div>
        
        <footer><p>COPYRIGHT © 2021 台北一日遊</p></footer>

    </div>
</body>
</html>