{% extends "base.html" %}

<!-- HEAD -------------------------------------------------- -->
{% block head %}
<link rel="stylesheet" href="/css/index.css">
<title>Taipei Trip 台北一日遊</title>
{% endblock %}

<!-- BODY -------------------------------------------------- -->
{% block body%}
<div class="search-container">
    <img src="/image/welcome.png" class="banner" alt="">
    <div class="search-box">
        <h1 class="seach-box__title">輕鬆享受台北一日悠閒</h1>
        <p class="seach-box__subtitle">探索每個角落，體驗城市的深度旅遊行程</p>
        <div class="search-box__bar">
            <input type="text" class="search-box__input" placeholder="輸入景點名稱查詢">
            <button class="search-box__icon">
                <img src="/image/icon_search.png" alt="">
            </button>
        </div>
        <div class="category-box"></div>
    </div>
</div>

<main></main>
{% endblock %}

{% block script %}
<script src="/js/index.js"></script>
{% endblock %}